{% if user.is_superuser %}

<p>You are viewing this because you are a superuser </p> 


<h3>Pending Withdrawals</h3>
{% if withdraw %}
<ul>
    {% for i in withdraw %}
<li>
   <a href="{% url 'alph:superwit' i.ref %}">{{ i.ref }}</a> 
</li>
    {% endfor %}


</ul>

{% else %}
<p>No pending Withdrawal requests</p>

{% endif %}

<h3>Pending Verifications</h3>

{% if document %}
<ul>
    {% for i in document %}
<li>
    <a href="{% url 'alph:superver' i.email %}">{{ i.email }}</a> 
</li>
    {% endfor %}


</ul>



{% else %}
<p>No pending Document Verification</p>

{% endif %}



{% else %}
You dont have access to view this page

{% endif %}
