.btn.pmam-promo-code{text-transform:none;padding-left:0}#pmamPromoCodeModal .modal-header{border-bottom:0}#pmamPromoCodeModal .modal-title,
#pmamPromoCodeModal .modal-body,
#pmamPromoCodeModal .modal-footer{text-align:center;width:100%}#pmam-promo-code .modal-title{color:#0062cc;font-weight:bold;padding-bottom:40px}#pmam-promo-code .modal-content{border-radius:0}#pmamPromoCodeModal .modal-footer{border-top:0;display:block;padding-bottom:80px}#invalid-promo-code{color:red}input#promo_code{border-style:solid}.is-invalid,.is-invalid:focus{border:1px
solid red}.authorization ol
li{padding-bottom:15px}.authorization
.strong{font-weight:bold}