<html>
  <head>
    <meta charset="utf-8">
    <title>Form</title>
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  </head>
  <body>


    <style>
        *{
	padding: 0;
	margin: 0;
}
body{
background-color: black;
}

.container{
	background: #2d3e3f;
	width: 350px;
	height: 400px;
	padding-bottom: 20px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
  padding: 70px 50px 20px 50px;
}


.fl{
	float: left;
  width: 110px;
  line-height: 35px;
}

.fontLabel{
  color: white;
}

.fr{
	float: right;
}

.clr{
	clear: both;
}

.box{
	width: 360px;
	height: 35px;
	margin-top: 10px;
	font-family: verdana;
	font-size: 12px;
}

.textBox{
	height: 35px;
	width: 190px;
	border: none;
  padding-left: 20px;
}

.new{
  float: left;
}

.iconBox{
	height: 35px;
	width: 40px;
	line-height: 38px;
	text-align: center;
  background: #ff6600;
}

.radio{
	color: white;
	background: #2d3e3f;
	line-height: 38px;
}

.terms{
	line-height: 35px;
	text-align: center;
	background: #2d3e3f;
	color: white;
}

.submit{
	float: right;
	border: none;
	color: white;
	width: 110px;
	height: 35px;
	background: #ff6600;
	text-transform: uppercase;
  cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */

}


    </style>
    <!-- Body of Form starts -->
  	<div class="container">
	{% for message in messages %}
<p style='color:white';>  {{message}}</p>
{% endfor %}
      <form method="post" autocomplete="on">
				{% csrf_token %}
        <!--First name-->
    		<div class="box">
          <label for="firstName" class="fl fontLabel"> First Name: </label>
    			<div class="new iconBox">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
    			<div class="fr">
    					<input type="text" name="firstName" placeholder="First Name"
              class="textBox" autofocus="on" required>
    			</div>
    			<div class="clr"></div>
    		</div>
    		<!--First name-->


        <!--Second name-->
    		<div class="box">
          <label for="secondName" class="fl fontLabel"> Second Name: </label>
    			<div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
    			<div class="fr">
    					<input type="text" required name="secondName"
              placeholder="Last Name" class="textBox">
    			</div>
    			<div class="clr"></div>
    		</div>
    		<!--Second name-->
        


    		<!---Phone No.------>
    		<div class="box">
          <label for="phone" class="fl fontLabel"> Phone No.: </label>
    			<div class="fl iconBox"><i class="fa fa-phone-square" aria-hidden="true"></i></div>
    			<div class="fr">
    					<input type="text" required name="phoneNo" maxlength="10" placeholder="Phone No." class="textBox">
    			</div>
    			<div class="clr"></div>
    		</div>
    		<!---Phone No.---->


    		<!---Email ID---->
    		<div class="box">
          <label for="email" class="fl fontLabel"> Email ID: </label>
    			<div class="fl iconBox"><i class="fa fa-envelope" aria-hidden="true"></i></div>
    			<div class="fr">
    					<input type="email" required name="email" placeholder="Email Id" class="textBox">
    			</div>
    			<div class="clr"></div>
    		</div>
    		<!--Email ID----->
            			<div class="form-group">
				<label for="nationality">Country:</label>
						


			<select name="nationality" id="nationality"  class="custom-select " required>
	
	<option value="">- Select -</option>
																															<option value="AF"  >
						Afghan
					</option>
																																<option value="AL"  >
						Albanian
					</option>
																																<option value="DZ"  >
						Algerian
					</option>
																																<option value="US"  >
						American
					</option>
																																<option value="UM"  >
						American Minor Outlying Islands
					</option>
																																<option value="AD"  >
						Andorran
					</option>
																																<option value="AO"  >
						Angolan
					</option>
																																<option value="AI"  >
						Anguillian
					</option>
																																<option value="AG"  >
						Antiguan
					</option>
																																<option value="AR"  >
						Argentinian
					</option>
																																<option value="AM"  >
						Armenian
					</option>
																																<option value="AW"  >
						Arubanic
					</option>
																																<option value="AU"  >
						Australian
					</option>
																																<option value="AT"  >
						Austrian
					</option>
																																<option value="AZ"  >
						Azerbaijani
					</option>
																																<option value="BS"  >
						Bahaman
					</option>
																																<option value="BH"  >
						Bahraini
					</option>
																																<option value="BD"  >
						Bangladeshi
					</option>
																																<option value="BB"  >
						Barbadan
					</option>
																																<option value="BY"  >
						Belarusian
					</option>
																																<option value="BE"  >
						Belgian
					</option>
																																<option value="BZ"  >
						Belizean
					</option>
																																<option value="BJ"  >
						Beninese
					</option>
																																<option value="BM"  >
						Bermudan
					</option>
																																<option value="BT"  >
						Bhutanese
					</option>
																																<option value="BO"  >
						Bolivian
					</option>
																																<option value="BA"  >
						Bosnian-Herzegovinian
					</option>
																																<option value="BW"  >
						Botswanan
					</option>
																																<option value="BR"  >
						Brazilian
					</option>
																																<option value="IO"  >
						Brit.Ind.Oc.Ter
					</option>
																																<option value="GB"  >
						British
					</option>
																																<option value="VG"  >
						Brit.Virgin Is.
					</option>
																																<option value="BN"  >
						Brunei
					</option>
																																<option value="BG"  >
						Bulgarian
					</option>
																																<option value="BF"  >
						Burkinabe
					</option>
																																<option value="MM"  >
						Burmese
					</option>
																																<option value="BI"  >
						Burundi
					</option>
																																<option value="KH"  >
						Cambodian
					</option>
																																<option value="CM"  >
						Cameroonian
					</option>
																																<option value="CA"  >
						Canadian
					</option>
																																<option value="CV"  >
						Cape Verdean
					</option>
																																<option value="KY"  >
						Cayman Islands
					</option>
																																<option value="CF"  >
						Central African
					</option>
																																<option value="TD"  >
						Chadian
					</option>
																																<option value="CL"  >
						Chilean
					</option>
																																<option value="CN"  >
						Chinese
					</option>
																																<option value="CX"  >
						Christmas Island
					</option>
																																<option value="CC"  >
						Coconut Islands
					</option>
																																<option value="CO"  >
						Colombian
					</option>
																																<option value="KM"  >
						Comoran
					</option>
																																<option value="CG"  >
						Congolese
					</option>
																																<option value="CK"  >
						Cook Islands
					</option>
																																<option value="CR"  >
						Costa Rican
					</option>
																																<option value="HR"  >
						Croatian
					</option>
																																<option value="CU"  >
						Cuban
					</option>
																																<option value="CW"  >
						Curacao
					</option>
																																<option value="CY"  >
						Cypriot
					</option>
																																<option value="CZ"  >
						Czech
					</option>
																																<option value="DK"  >
						Danish
					</option>
																																<option value="CD"  >
						Dem. Rep. Congo
					</option>
																																<option value="DJ"  >
						Djiboutian
					</option>
																																<option value="DM"  >
						Dominica
					</option>
																																<option value="DO"  >
						Dominican
					</option>
																																<option value="NL"  >
						Dutch
					</option>
																																<option value="AN"  >
						Dutch Antilles
					</option>
																																<option value="TL"  >
						East Timor
					</option>
																																<option value="EC"  >
						Ecuadorian
					</option>
																																<option value="EG"  >
						Egyptian
					</option>
																																<option value="GQ"  >
						Equatorial Guinean
					</option>
																																<option value="ER"  >
						Eritrean
					</option>
																																<option value="EE"  >
						Estonian
					</option>
																																<option value="ET"  >
						Ethiopian
					</option>
																																<option value="FK"  >
						Falkland Islnds
					</option>
																																<option value="FO"  >
						Faroe Islands
					</option>
																																<option value="FJ"  >
						Fijian
					</option>
																																<option value="PH"  >
						Filipino
					</option>
																																<option value="FI"  >
						Finnish
					</option>
																																<option value="FR"  >
						French
					</option>
																																<option value="GF"  >
						French Guayana
					</option>
																																<option value="TF"  >
						French S.Territ
					</option>
																																<option value="PF"  >
						Frenc.Polynesia
					</option>
																																<option value="AQ"  >
						From Antarctica
					</option>
																																<option value="TP"  >
						From East Timor
					</option>
																																<option value="KN"  >
						From Saint Kitts and Nevis
					</option>
																																<option value="BV"  >
						From the Bouvet Islands
					</option>
																																<option value="HM"  >
						From the Heard and McDonald Islands
					</option>
																																<option value="NF"  >
						From the Norfolk Islands
					</option>
																																<option value="TK"  >
						From the Tokelau Islands
					</option>
																																<option value="TC"  >
						From the Turks and Caicos Islands
					</option>
																																<option value="VI"  >
						From the Virgin Islands
					</option>
																																<option value="WF"  >
						From the Wallis and Futuna Islands
					</option>
																																<option value="TT"  >
						From Trinidad and Tobago
					</option>
																																<option value="GA"  >
						Gabonese
					</option>
																																<option value="GM"  >
						Gambian
					</option>
																																<option value="GE"  >
						Georgian
					</option>
																																<option value="DE"  >
						German
					</option>
																																<option value="GH"  >
						Ghanian
					</option>
																																<option value="GI"  >
						Gibraltar
					</option>
																																<option value="GR"  >
						Greek
					</option>
																																<option value="GL"  >
						Greenland
					</option>
																																<option value="GD"  >
						Grenadian
					</option>
																																<option value="GP"  >
						Guadeloupe
					</option>
																																<option value="GU"  >
						Guam
					</option>
																																<option value="GT"  >
						Guatemalan
					</option>
																																<option value="GW"  >
						Guinea-Bissau
					</option>
																																<option value="GN"  >
						Guinean
					</option>
																																<option value="GY"  >
						Guyanese
					</option>
																																<option value="HT"  >
						Haitian
					</option>
																																<option value="HN"  >
						Honduran
					</option>
																																<option value="HK"  >
						Hong Kong
					</option>
																																<option value="HU"  >
						Hungarian
					</option>
																																<option value="IS"  >
						Icelandic
					</option>
																																<option value="IN"  >
						Indian
					</option>
																																<option value="ID"  >
						Indonesian
					</option>
																																<option value="IR"  >
						Iranian
					</option>
																																<option value="IQ"  >
						Iraqi
					</option>
																																<option value="IE"  >
						Irish
					</option>
																																<option value="IL"  >
						Israeli
					</option>
																																<option value="IT"  >
						Italian
					</option>
																																<option value="CI"  >
						Ivoirian
					</option>
																																<option value="JM"  >
						Jamaican
					</option>
																																<option value="JP"  >
						Japanese
					</option>
																																<option value="JO"  >
						Jordanian
					</option>
																																<option value="KZ"  >
						Kazakh
					</option>
																																<option value="KE"  >
						Kenyan
					</option>
																																<option value="KI"  >
						Kiribati
					</option>
																																<option value="KR"  >
						Korean
					</option>
																																<option value="KW"  >
						Kuwaiti
					</option>
																																<option value="KG"  >
						Kyrgyzstani
					</option>
																																<option value="LA"  >
						Laotian
					</option>
																																<option value="LV"  >
						Latvian
					</option>
																																<option value="LB"  >
						Lebanese
					</option>
																																<option value="LS"  >
						Lesothan
					</option>
																																<option value="LR"  >
						Liberian
					</option>
																																<option value="LY"  >
						Libyan
					</option>
																																<option value="LI"  >
						Liechtenstein
					</option>
																																<option value="LT"  >
						Lithuanian
					</option>
																																<option value="LC"  >
						Lucian
					</option>
																																<option value="LU"  >
						Luxembourgian
					</option>
																																<option value="MO"  >
						Macau
					</option>
																																<option value="MK"  >
						Macedonian
					</option>
																																<option value="MG"  >
						Madagascan
					</option>
																																<option value="MW"  >
						Malawian
					</option>
																																<option value="MY"  >
						Malaysian
					</option>
																																<option value="MV"  >
						Maldivian
					</option>
																																<option value="ML"  >
						Malian
					</option>
																																<option value="MT"  >
						Maltese
					</option>
																																<option value="MP"  >
						Marianian
					</option>
																																<option value="MH"  >
						Marshallese
					</option>
																																<option value="MQ"  >
						Martinique
					</option>
																																<option value="MR"  >
						Mauretanian
					</option>
																																<option value="MU"  >
						Mauritian
					</option>
																																<option value="YT"  >
						Mayotte
					</option>
																																<option value="MX"  >
						Mexican
					</option>
																																<option value="FM"  >
						Micronesian
					</option>
																																<option value="MD"  >
						Moldovan
					</option>
																																<option value="MC"  >
						Monegasque
					</option>
																																<option value="MN"  >
						Mongolian
					</option>
																																<option value="ME"  >
						Montenegrin
					</option>
																																<option value="MS"  >
						Montserrat
					</option>
																																<option value="MA"  >
						Moroccan
					</option>
																																<option value="MZ"  >
						Mozambican
					</option>
																																<option value="NA"  >
						Namibian
					</option>
																																<option value="NR"  >
						Nauruian
					</option>
																																<option value="NP"  >
						Nepalese
					</option>
																																<option value="NC"  >
						New Caledonia
					</option>
																																<option value="NZ"  >
						New Zealand
					</option>
																																<option value="NI"  >
						Nicaraguan
					</option>
																																<option value="NE"  >
						Niger
					</option>
																																<option value="NG"  >
						Nigerian
					</option>
																																<option value="NU"  >
						Niuean
					</option>
																																<option value="VU"  >
						Ni-Vanuatu
					</option>
																																<option value="KP"  >
						North Korea
					</option>
																																<option value="NO"  >
						Norwegian
					</option>
																																<option value="OM"  >
						Omani
					</option>
																																<option value="PK"  >
						Pakistani
					</option>
																																<option value="PW"  >
						Palauan
					</option>
																																<option value="PS"  >
						Palestinian
					</option>
																																<option value="PA"  >
						Panamanian
					</option>
																																<option value="PG"  >
						Papua New Guinean
					</option>
																																<option value="PY"  >
						Paraguayan
					</option>
																																<option value="PE"  >
						Peruvian
					</option>
																																<option value="PN"  >
						Pitcairn Islnds
					</option>
																																<option value="PL"  >
						Polish
					</option>
																																<option value="PT"  >
						Portuguese
					</option>
																																<option value="PR"  >
						Puerto Rico
					</option>
																																<option value="QA"  >
						Qatari
					</option>
																																<option value="RE"  >
						Reunion
					</option>
																																<option value="RO"  >
						Romanian
					</option>
																																<option value="RU"  >
						Russian
					</option>
																																<option value="RW"  >
						Rwandan
					</option>
																																<option value="SH"  >
						Saint Helenian
					</option>
																																<option value="SV"  >
						Salvadoran
					</option>
																																<option value="SM"  >
						Sammarinese
					</option>
																																<option value="WS"  >
						Samoa
					</option>
																																<option value="AS"  >
						Samoan
					</option>
																																<option value="ST"  >
						Sao Tomean
					</option>
																																<option value="SA"  >
						Saudi Arabian
					</option>
																																<option value="SN"  >
						Senegalese
					</option>
																																<option value="RS"  >
						Serbia
					</option>
																																<option value="CS"  >
						Serbian; Montenegrin
					</option>
																																<option value="SC"  >
						Seychellian
					</option>
																																<option value="SL"  >
						Sierra Leonean
					</option>
																																<option value="SG"  >
						Singaporean
					</option>
																																<option value="SK"  >
						Slovakian
					</option>
																																<option value="SI"  >
						Slovenian
					</option>
																																<option value="SB"  >
						Solomonese
					</option>
																																<option value="SO"  >
						Somali
					</option>
																																<option value="ZA"  >
						South African
					</option>
																																<option value="GS"  >
						South Georgia
					</option>
																																<option value="ES"  >
						Spanish
					</option>
																																<option value="LK"  >
						Sri Lankan
					</option>
																																<option value="PM"  >
						St.Pier,Miquel.
					</option>
																																<option value="SD"  >
						Sudanese
					</option>
																																<option value="SR"  >
						Surinamese
					</option>
																																<option value="SJ"  >
						Svalbard
					</option>
																																<option value="SZ"  >
						Swazi
					</option>
																																<option value="SE"  >
						Swedish
					</option>
																																<option value="CH"  >
						Swiss
					</option>
																																<option value="SY"  >
						Syrian
					</option>
																																<option value="TW"  >
						Taiwan
					</option>
																																<option value="TJ"  >
						Tajikistani
					</option>
																																<option value="TZ"  >
						Tanzanian
					</option>
																																<option value="TH"  >
						Thai
					</option>
																																<option value="TG"  >
						Togolese
					</option>
																																<option value="TO"  >
						Tongan
					</option>
																																<option value="TN"  >
						Tunisian
					</option>
																																<option value="TR"  >
						Turkish
					</option>
																																<option value="TM"  >
						Turkmenian
					</option>
																																<option value="TV"  >
						Tuvaluese
					</option>
																																<option value="UG"  >
						Ugandan
					</option>
																																<option value="UA"  >
						Ukrainian
					</option>
																																<option value="AE"  >
						United Arab Emirates
					</option>
																																<option value="UY"  >
						Uruguayan
					</option>
																																<option value="UZ"  >
						Uzbekistani
					</option>
																																<option value="VA"  >
						Vatican City
					</option>
																																<option value="VE"  >
						Venezuelan
					</option>
																																<option value="VN"  >
						Vietnamese
					</option>
																																<option value="VC"  >
						Vincentian
					</option>
																																<option value="EH"  >
						West Sahara
					</option>
																																<option value="YE"  >
						Yemeni
					</option>
																																<option value="ZM"  >
						Zambian
					</option>
																																<option value="ZW"  >
						Zimbabwean
					</option>
										</select>				
			</div>

    		<!---Password------>
    		<div class="box">
          <label for="password" class="fl fontLabel"> Password </label>
    			<div class="fl iconBox"><i class="fa fa-key" aria-hidden="true"></i></div>
    			<div class="fr">
    					<input type="Password" required name="password" placeholder="Password" class="textBox">
    			</div>
    			<div class="clr"></div>
    		</div>
    		<!---Password---->
    		<!---Password2------>
    		<div class="box">
          <label for="password2" class="fl fontLabel"> Confirm Password </label>
    			<div class="fl iconBox"><i class="fa fa-key" aria-hidden="true"></i></div>
    			<div class="fr">
    					<input type="Password" required name="password2" placeholder="Password" class="textBox">
    			</div>
    			<div class="clr"></div>
    		</div>
    		<!---Password2---->


    		<!---Gender----->
    		<div class="box radio">
          <label for="gender" class="fl fontLabel"> Gender: </label>
    				<input type="radio" name="Gender" value="Male" required> Male &nbsp; &nbsp; &nbsp; &nbsp;
    				<input type="radio" name="Gender" value="Female" required> Female
    		</div>
    		<!---Gender--->



            <div class="form-group">
						<label for="account_type">Account Type:</label>
						<select id="account_type" name="account_type" class="custom-select" required="required">
							<option value="">- Select -</option>
															<option value="2" >Live Floating Spread</option>
															<option value="5" >Live Fixed Spread</option>
															<option value="57" >Cent</option>
													</select>
					</div>
					<div class="form-group">
						<label for="currency_base">Currency base:</label>
						<select class="custom-select" id="currency_base" name="currency_base">
							<option value="">- Select -</option>
                            <option value="USD">USD</option>
                            
						</select>
						<div id="XBT_notice" class="alert alert-warning collapse crypto-notice">All values for µBTC based accounts in MetaTrader4 are indicated in µBTC (micro-bitcoin), 1 µBTC = 0.000001 BTC</div>
<div id="ADA_notice" class="alert alert-warning collapse crypto-notice">All values for µADA based accounts in MetaTrader4 are indicated in µADA (micro-cardano), 1 µADA = 0.000001 ADA</div>
<div id="IRX_notice" class="alert alert-warning collapse crypto-notice"></div>					</div>
											<div class="form-group" id="bonus_scheme_list">
							<label for="bonus_scheme">Bonus Categories:</label>
							<select id="bonus_scheme" name="bonus_scheme" class="custom-select">
								<option value="">- Select -</option>
                                <option value="None">None</option>
							</select>
						</div>
										<div class="form-group" id="leverage_container">
						<label for="new_leverage">Leverage:</label>
						<select class="custom-select" id="new_leverage" name="new_leverage">
							<option value="">- Select -</option>
                            <option value="500"> 1:500</option>
						</select>
											</div>

    		<!--Terms and Conditions------>
    		<div class="box terms">
    				<input type="checkbox" name="Terms" required> &nbsp; I accept the terms and conditions
    		</div>
    		<!--Terms and Conditions------>



    		<!---Submit Button------>
    		<div class="box" style="background: #2d3e3f">
    				<input type="Submit" name="Submit" class="submit" value="SUBMIT">
    		</div>
    		<!---Submit Button----->
      </form>
  </div>
  <!--Body of Form ends--->
  </body>
</html>
