::-ms-reveal,
::-ms-clear {
	display: none !important;
}
.register_live_btn {
	font-weight: bold;
	padding-left: 3rem;
	padding-right: 3rem;
}
.form-container {
	background-color: #fff;
}
@media (min-width: 992px) {
	.form-container {
		border: 1px solid #c6c6c6;
	}
}
.cont-ea .register_live_btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 14px 22px;
	object-fit: contain;
	border-radius: 30px;
	border: solid 2px #77ff73;
	background-color: #1fdd19;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: normal;
}
.phone-prefix {
	width: 25% !important;
}
.phone-mobile {
	width: 75% !important;
}
.is-invalid input {
	border: solid #dc3545 1px;
}
.hideShowPassword-toggle {
	background-color: transparent;
	background-image: url("../v1/img/live-registration/wink.png");
	background-image: url("../v1/img/live-registration/wink.svg"), none;
	background-position: 0 center;
	background-repeat: no-repeat;
	border: 2px solid transparent;
	border-radius: 0.25em;
	cursor: pointer;
	font-size: 100%;
	height: 40px;
	margin: 0;
	max-height: 100%;
	padding: 0;
	overflow: hidden;
	text-indent: -999em;
	width: 44px;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: transparent;
	top: 0% !important;
	margin-top: 0px !important;
}
.hideShowPassword-toggle-hide {
	background-position: -44px center;
}
.hideShowPassword-toggle:hover,
.hideShowPassword-toggle:focus {
	outline: transparent;
	border: 2px solid transparent;
}
#submit_mobile_verification {
	background-color: #3db9d1;
	color: #fff;
	font-weight: bold;
}
#submit_mobile_verification:hover {
	background-color: #307786;
}
#submit_mobile_verification:disabled,
#submit_mobile_verification[disabled] {
	background-color: #3db9d1;
	opacity: 0.5;
}
.gray-background {
	background-color: #f6f7f9;
} /*Registration background*/
body.cont-ea {
	background-color: #191b25;
	color: #fff;
}
.registration-title {
	border-bottom: 1px solid #ddd;
}
.cont-ea .registration-title {
	border-bottom: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
.success-block {
	background-image: url("../v1/img/registration/congratulations-check-mark-yes.svg");
	background-position: center 0;
	background-repeat: no-repeat;
}
.success-block h2 {
	margin-top: 6rem !important;
}
.trueFalse-wrapper {
	position: relative;
	display: block;
	vertical-align: baseline;
	margin: 0;
}
.trueFalse-toggle {
	background-color: transparent;
	background-image: url("../v1/img/registration/pin/pin.png");
	background-image: url("../v1/img/registration/pin/pin.png"), none;
	background-position: 0 center;
	background-repeat: no-repeat;
	border: 0px solid transparent;
	border-radius: 0.25em;
	cursor: pointer;
	font-size: 100%;
	height: 40px;
	margin: 0;
	max-height: 100%;
	padding: 0;
	overflow: hidden;
	text-indent: -999em;
	width: 44px;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: transparent;
	position: absolute;
	top: -2px;
	right: 0px;
	z-index: 999;
	display: none;
}
.trueFalse-toggle-true {
	display: block;
	background-position: 0 center;
}
.trueFalse-toggle-false {
	display: block;
	background-position: -44px center;
}
.trueFalse-toggle:hover,
.trueFalse-toggle:focus {
	outline: transparent;
}
.icheckbox_square-blue {
	float: left;
}
.terms-text {
	display: block;
	margin-left: 30px;
}
.icheckbox_square-blue.is-invalid ~ span.terms-text {
	color: #dc3545;
}
.registration_popup,
.registration_popup_mobile {
	background-color: #efefef;
	border-color: red;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 1rem;
}
.registration_popup {
	position: relative;
	margin-top: 3rem;
	margin-right: 1.2rem;
	width: 220px;
}
.coins_icon {
	background-image: url("../v1/img/coins.png");
	background-repeat: no-repeat;
	width: 3em;
	height: 3em;
}
input[type="checkbox"].is-invalid {
	outline: 1px solid #dc3545;
	outline-offset: -1px;
}
.declaration-block {
	justify-content: space-around;
}
.declaration-label-text {
	width: 46%;
}
@media (max-width: 767px) {
	div.form-container {
		padding-bottom: 50px !important;
	}
	.declaration-label-text {
		width: 95%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	div.form-container {
		padding-bottom: 100px !important;
	}
}
.hide-on-register-page {
	display: none;
}
.declaration-label-text {
	width: 95%;
} /*Sub background Register page*/
.cont-ea #account-type-block {
	background: #191b25;
	padding: 39px 0 39px 0;
}
.cont-ea #widgetDemoInlineForm #account-type-block {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
body.cont-ea > div.header > div.container {
	margin: 0 !important;
	max-width: 98% !important;
}
body.cont-ea label {
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
} /*text on register page*/
body.cont-ea {
	color: #ebe0ce;
}
.cont-ea .row {
	margin: 0 !important;
}
.cont-ea input#phone_mobile {
	width: 20px !important;
	margin-left: 3%;
} /*submit buttton of register page*/
.cont-ea button[type="submit"] {
	min-width: 208px;
	height: 50px;
	gap: 10px;
	padding: 8px 20px;
	object-fit: contain;
	border-radius: 30px;
	border: solid 2px #13164b !important;
	background-color: #272268 !important;
	text-transform: unset;
	font-weight: normal;
	font-size: 14px;
	margin-top: 3em;
}
@media (max-width: 991.98px) {
	.cont-ea .register_live_btn {
		min-width: 259px;
	}
}
.is-invalid .invalid-feedback.invalid-password-feedback {
	display: block;
}
span#bonus_terms {
	margin-top: 0px !important;
	margin-bottom: 1.5rem;
}
