{% load static %}
@font-face {
  font-family: "icomoon";
  src: url("../../../lte/fonts/icomoon.eot?805sb");
  src: url("../../../lte/fonts/icomoon.eot?805sb#iefix") format("embedded-opentype"),
    url("../../../lte/fonts/icomoon.woff2?805sb") format("truetype"),
    url("../../../lte/fonts/icomoon.ttf?805sb") format("truetype"),
    url("../../../lte/fonts/icomoon.woff?805sb") format("woff"),
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.pt-0 {
  padding-top: 0px !important;
}
.pb-0 {
  padding-bottom: 0px !important;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-financial-details:before {
  content: "\e900";
}
.icon-edit:before {
  content: "\e901";
}
.icon-trading-calculators:before {
  content: "\e902";
}
.icon-dashboard:before {
  content: "\e903";
}
.icon-tradecopier {
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
  display: inline-block;
  height: 16px;
  width: 16px !important;
}
.active .icon-tradecopier,
.nav-link:hover .icon-tradecopier {
  border-color: #eb212e;
}
.icon-my-accounts:before {
  content: "\e904";
}
.icon-my-profile:before {
  content: "\e905";
}
.icon-transactions:before {
  content: "\e906";
}
.icon-change:before {
  content: "\e949";
}
.icon-partners:before {
  content: "\e907";
}
.icon-trading-requests:before {
  content: "\e908";
}
.icon-trading-platform:before {
  content: "\e909";
}
.icon-ironfx-cards:before {
  content: "\e90a";
}
.icon-tools:before {
  content: "\e90b";
}
.icon-chat:before {
  content: "\e90c";
}
.icon-promotionals:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e90e";
}
.icon-home-address:before {
  content: "\e90f";
}
.icon-tax:before {
  content: "\e910";
}
.icon-identity-confirmation:before {
  content: "\e911";
}
.icon-client-status:before {
  content: "\e912";
}
.icon-employment-details:before {
  content: "\e913";
}
.icon-address-confirmation:before {
  content: "\e914";
}
.icon-bonuses:before {
  content: "\e915";
}
.icon-bitwallet:before {
  content: "\e916";
}
.icon-live-competition:before {
  content: "\e917";
}
.icon-demo-competition:before {
  content: "\e917";
}
.icon-info:before {
  content: "\e918";
}
.icon-view:before {
  content: "\e919";
}
.icon-tutorial-mouseover:before {
  content: "\e91a";
}
.icon-dropdown-open:before {
  content: "\e91b";
}
.icon-approve:before {
  content: "\e91c";
}
.icon-calendar:before {
  content: "\e91d";
}
.icon-checkbox-empty:before {
  content: "\e91e";
}
.icon-checkbox:before {
  content: "\e91f";
}
.icon-hamburger:before {
  content: "\e920";
}
.icon-close:before {
  content: "\e921";
}
.icon-account:before {
  content: "\e922";
}
.icon-notification-info:before {
  content: "\e923";
}
.icon-notification-alert:before {
  content: "\e924";
}
.icon-notification-error:before {
  content: "\e925";
}
.icon-notification-approve:before {
  content: "\e926";
}
.icon-open-new-account:before {
  content: "\e927";
}
.icon-tutorial:before {
  content: "\e928";
}
.icon-dropdown-close:before {
  content: "\e929";
}
.icon-error:before {
  content: "\e92a";
}
.icon-logout:before {
  content: "\e92b";
}
.icon-dropdown-arrows:before {
  content: "\e92c";
}
.icon-economic-calendar:before {
  content: "\e92d";
}
.icon-market-insights:before {
  content: "\e92e";
}
.icon-webtv:before {
  content: "\e92f";
}
.icon-technical-analysis:before {
  content: "\e930";
}
.icon-mt4-indicators:before {
  content: "\e931";
}
.icon-dropdown-right:before {
  content: "\e944";
}
.icon-change-password:before {
  content: "\e942";
}
.icon-affiliates:before {
  content: "\e943";
}
.icon-mt4-android:before {
  content: "\e936";
}
.icon-mt4-ipad:before {
  content: "\e937";
}
.icon-mt4-iphone:before {
  content: "\e938";
}
.icon-mt4-mac:before {
  content: "\e939";
}
.icon-mt4-mobile-trader:before {
  content: "\e93a";
}
.icon-mt4-pmam:before {
  content: "\e93b";
}
.icon-mt4-webtrader:before {
  content: "\e93c";
}
.icon-mt4-windows:before {
  content: "\e93d";
}
.icon-mt5-android:before {
  content: "\e93e";
}
.icon-mt5-iphone:before {
  content: "\e93f";
}
.icon-mt5-mac:before {
  content: "\e940";
}
.icon-mt5-windows:before {
  content: "\e941";
}
.icon-filter-results:before {
  content: "\e932";
}
.icon-deposit:before {
  content: "\e933";
}
.icon-digital-assets:before {
  content: "\e934";
}
.icon-withdraw:before {
  content: "\e935";
}
.icon-dashboard1:before {
  content: "\e945";
  color: #d80a1a;
}
.icon-windows:before {
  content: "\e952";
}
.icon-google-play-store:before {
  content: "\e953";
}
.icon-checkmark:before {
  content: "\e954";
}
.icon-featured-ideas:before {
  content: "\e956";
}
.icon-market-buzz-icon:before {
  content: "\e957";
}
.icon-settings:before {
  content: "\e947";
}
.icon-clock:before {
  content: "\e963";
}
.icon-cloud-upload:before {
  content: "\e95f";
}
.icon-accept:before {
  content: "\e965";
}
/* .icon-remove:before {
} */
.icon-tick:before {
  content: "\e95d";
  font-size: 10px;
}
.icon-note:before {
  content: "\e966";
}
.icon-done:before {
  content: "\e965";
}
.icon-map-point:before {
  content: "\e968";
}
.icon-location-done:before {
  content: "\e958";
  font-size: 20px;
}
.icon-mail:before {
  content: "\e961";
  font-size: 15px;
}
.icon-phone1:before {
  content: "\e960";
}
.icon-calendar1:before {
  content: "\e959";
}
.icon-increase:before {
  content: "\e95b";
}
.icon-tutorial-mouseover:before {
  content: "\e91a";
}
.icon-crown:before {
  content: "\e96c";
  margin-left: -4px;
}
