

<body>
  
       <section class="autentication-form">
		
		<div class="right-column">
			<div class="form-header">
                <h1>{% block title %}Password Reset{% endblock %}</h1>
				{% block content %}
                <h2>We've emailed you instructions for setting your password.</h2>
<h2>
	If you don't receive an email, Please Check your Spam folder and also ensure you've entered the address you
	registered with.
</h2>
            
        <div class="go-home">
                <a class="login-password" href="{% url 'alph:index' %}">Go Home</a>
        
        </div>
		{% endblock %}
</body>



